table {
    border-collapse:collapse;
	width:60%;
}




table, th, td {
    border: 1px solid black;
}

td {
	border: 1px solid black;
	text-align: left;
}

th  {
    border: 1px solid black;
	height:50px;
}

tr:nth-child(odd)    {
	background-color:#ddddff;
}

tr:nth-child(even)    {
	background-color:#eeeeff;
}

.check_state_0 {
	background-color:#00ff00;
}

.check_state_1 {
	background-color:#ffff00;
}

.check_state_2 {
	background-color:#00ff00;
}

.check_state_-1 {
	background-color:#aaaaff;
}