<script type="text/javascript">
 $(document).ready(function() {
   $("li").hover(function() {
     $(this).removeClass("red");
     $(this).addClass("green");
   },function(){
     $(this).removeClass("green");
     $(this).addClass("red");
   });
 });
</script> 

<a href="">Link</a>
<li>adsadasd</li>
<li>bdsadasd</li>
<li>cdsadasd</li>
<li>ddsadasd</li>
